* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Added */
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    overflow-x: hidden;
}
body {
    background-color: #140C20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.topnav a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}
#myVideo{
    width:100%;
    height: screen;
    z-index: -1;

}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;

    vertical-align: baseline;
}
.leftgroup a{
    font-weight: bold;
    font-size: x-large;
    list-style: none;
    text-decoration: none;
}
.leftgroup a:hover{
    text-decoration: underline pink ;
}
.leftgroup {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.rightgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    font-weight: bold;
    
}

.rightgroup a {
    font-size: 2vh;
    transition: all .5s ease-in-out;
    font-size:large !important;

}
.leftgroup h1{
    font-size: larger !important;
    font-weight: bold;
}
.icon {
    display: none !important;
}

.NavBar .icon:hover {
    background-color: rgba(77, 77, 77, 0.313);
}

.rightgroup a:hover {
    text-decoration: underline pink solid 3px;
    transition: .01s ease-in;
}

@media screen and (min-width:300px )and (max-width: 670px) {
    .topnav .rightgroup {
        display: none;
        padding: 5%;
    }

    .topnav {
        justify-content: center;
        display: flex;
        gap: 30px;
    }

    .icon {
        display: block !important;

    }

    .animation {
        margin-top: 10%;
        width: 100%;
        height: 40vh !important;
    }



    

    .VideosContainer {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        place-items: center !important;
        gap: 0;
        padding: 1%;

    }

    .VideosContainer div{
        padding: 5%;
        
    }

    .VideosContainer img {
        width: 300px !important;
        height: 200px !important;
       
    }

    .title {
        font-size: 4vh !important;
    }

    .titledescription {
        font-size: 2.5vh;
        width: 100% !important;
        padding-top: 5%;
        
    }

    .Container {
        display: flex !important;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10%;
    }

    .Container h4 {
        text-align: start;
    }

    .Container h1 {
        font-size: larger;
        font-weight: bold !important;
        text-align: start;
    }

    .Container h3 {
        font-weight: lighter;
        text-align: start;
    }


    input{
        width: 100% !important;
    }

    
}

@media screen and (max-width:670px) {
    .topnav.responsive {
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;

    }

    .topnav.responsive .rightgroup {
        display: flex;
        flex: 100%;
    }
}


.animation {
    object-fit: cover;
    width: 100%;
    height: 60vh;
}
@media screen and (min-width:1366px){
    .VideosContainer{
        padding:5% !important;

    }
    .VideosContainer img{
        width: 400px !important;
        height: 250px !important;
    }

}
@media screen and (min-width: 700px) and (max-width: 1400px) {
    .Container {
        display: flex;
        justify-content: center;

    }

    .VideosContainer {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        place-items: center;

    }

    .VideosContainer img {
        width: 300px !important;
        height: 200px !important;
    }
    .titledescription {
        width: 60% !important;
    }

    input{
        width: 90% !important;
    }
}
.services{
    background-color: #140C20;
}
.Container h1 {
    font-weight: bolder;
    font-size: 40px;
}

.Container {
    display: grid;
    padding: 5%;
    align-items: center;
    justify-content: center;
    
}

.aboutme {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}


#left {
    animation: slideIn 1s ease-in-out both; 
  }
#right{
    animation: slideright 1s ease-in-out both;  
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
  }
@keyframes slideright {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(0); 
    }
  }
@keyframes slideIn {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(0); 
    }
  }


.right-container {
    font-size: large !important;
}

.left-container {
    height: 100%;
    font-size: large !important;
}
@keyframes scaleup{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.wordshighlight {
    color: #969CFF;
    font-weight: bold;
}
#parallax{
    position: relative;
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('Images/marhbabik.png');
    object-fit: cover;
    animation: entry 2s ease-in-out;

}
@media screen and (min-width: 1366px) and (max-width: 1920px) {

#parallax {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('Images/marhbabik.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    animation: entry 2s ease-in-out;
}
}
@keyframes entry{
    0%{
        filter: grayscale(2);
        filter: brightness(0.5);
    }
    100%{
        filter: grayscale(0);
        filter: brightness(1);

    }
}
#parallax:hover {
    transition: 2s ease-in-out;
}








.Contact div h4 {
    font-size: 3vh;
    font-weight: lighter;
    padding: 1%;
}

.Contact div h1 {
    font-weight: bold;
    font-size: 5vh;
    padding-bottom: 5%;

}

.contact:hover {
    background: rgb(216, 216, 216);
}

.Contact div a {
    color: black;
    background-color: rgb(198, 198, 198);
    list-style: none;
    text-decoration: none;
    font-size: 2.5vh;
    padding: 2%;
    border-radius: 2%;
}

.footerContainer {
    display: flex;
    place-self: center;
    justify-content: start;

}

.footerContainer a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.categories {
    padding: 1%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;

}

.categories a {
    font-size: 20px;
    padding: 1%;
}

.categories a:hover {
    text-decoration: underline pink;
    transition: .5s linear ease-in-out;
}

.categories h1 {
    font-size: 50px;
    text-align: center;
}

.copyright {
    color: gray;
    font-size: 20px;
    padding-top: 2%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    align-self: flex-end;

}

.icons a {
    width: 30px;
}

.introduction {
    padding: 8.5%;
}

.title {
    font-size: 7vh;
    font-weight: bold;
}

.titledescription {
    font-size: 2.5vh;
    width: 30%;
}

.projectcontainer {
    display: grid;
    width: 100%;
}

.VideosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    align-content: center;
    padding: 5%;

}

.VideosContainer p {
    width: 50%;
    text-align: center;
}

.VideosContainer img {
    width: 500px;
    height: 300px;

    border-radius: 15px;
    object-fit: cover;

}
.VideosContainer img:hover{
    border: solid .5px rgba(255, 255, 255, 0.6);
}
.VideosContainer div {
    place-items: center;
    display: grid;
}

#footer {
    background: #20182B;
}




.contact-container{
    display: flex;

    padding: 5%;

    gap: 2%;
    align-items: center;
    justify-content: space-between;
    
}
.contact-container h1{
    font-size:7vh;
    font-weight: bold ; 
    
}
.contact-container h2{
    font-size: 3vh;
    font-weight: lighter;
    padding-top: 3%;
}
.contact-container p{
    color: gray;
    font-size: 2.5vh;
    font-weight: lighter;
    padding-top: 3%;
}
.contact-container label{
    
    font-size: 3vh;
    font-weight: lighter;   
}
.contact-container input{
    background-color: #20182B;
    text-decoration: none;
    list-style: none;
    border: 0;
    width: 600px;
    height: 50px;
    padding-left: 1%;
    color: white;
    
}
.submit{
    background: white;    
    border: 0;
    width:200px;
    height: 50px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}
.submit:hover{
    scale: 1.01;
}
