* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Added */
}

body {
    background-color: #140C20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.topnav a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.leftgroup {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.rightgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    font-weight: bold;
}

.icon {
    display: none !important;

}

.NavBar .icon:hover {
    background-color: rgba(77, 77, 77, 0.313);
}

a:hover {
    text-decoration: underline cyan;
    transition: 1s ease-in
}

@media screen and (max-width: 600px) {
    .topnav .rightgroup {
        display: none;
    }

    .topnav {
        justify-content: center;
        display: flex;
        gap: 50px;
    }

    .icon {
        display: block !important;
    }
}

@media screen and (max-width:600px) {
    .topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: step-start ease-in-out;
    }

    .topnav.responsive .icon {
        position: absolute;
    }

    .topnav.responsive .rightgroup {
        display: flex;
        gap: 20px;
    }
}
.animation{
    height: 5%;
    width: 100%;
    background-color: aqua;
}